.HeroSectionDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16rem;
  position: relative;
}
.HeroSectionImageDiv {
  flex: 1;
  order: 2;
}

.HeroSectionSvg {
  position: absolute;
  top: 0;
  right: 0;
}
.HeroSectionSvgButton {
  position: absolute;
  top: 2rem;
  left: 90vw;
}
.HeroSectionTextDivImage {
  position: absolute;
  top: 2rem;
}
.HeroSectionTextDiv {
  margin-left: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.HeroSectionTitle {
  font-family: sans-serif;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: 700;
  color: var(--primary, #0e2368);
  line-height: 4.3125rem;
}
.HeroSectionP {
  color: var(--body, #444957);
  font-family: sans-serif;
  font-size: 1.02781rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.713rem;
  margin-bottom: 3rem;
}
.HeroSectionTitleDiv {
  /* Add this style to center the HeroSectionTitleDiv */
  margin: 0 auto;
}

@media (max-width: 768px) {
  .HeroSectionDiv {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 4.71rem;
  }

  .HeroSectionImageDiv {
    width: 100%;
    order: -1;
  }
  .HeroSectionImage {
    width: 100%;
    height: 25.85738rem;
  }
  
  .custom-svg {
    /* Set the desired height and width for the SVG in mobile view */
    width: 100%;
    height: 26.625rem; /* Adjust this value as needed */
  }
  .HeroSectionSvg {
    right: 0;
}

  .HeroSectionTextDiv {
    margin-left: 0;
  }
  .HeroSectionTextDivImage {
    display: none;
  }
  .HeroSectionTitleDiv {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .HeroSectionP {
    margin-left: 30px;
    margin-right: 30px;
  }
}
